<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BlueConsultingBusinessLogic.Properties.Settings.DATABASEConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\11435803\Documents\Visual Studio 2012\Projects\Assignment\GUI\App_Data\DATABASE.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BlueConsultingBusinessLogic.Properties.Settings.DATABASEConnectionString1"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\11230455\Desktop\ED-AssignmentOne-master\Assignment7-4-143pm\GUI\App_Data\DATABASE.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>